<BaseLayout>
  <slot name="content">
    <div class="md:mx-auto p-4 md:p-0 w-full lg:max-w-3xl prose">
      <Heading class="text-4xl" level="1">About me</Heading>
      <Markdown as="p"
        >![Juho
        Vepsäläinen|100|100|author](https://www.gravatar.com/avatar/b26ec3c2769168c2cbc64cc3df9cdd9c?s=200)I
        am Juho Vepsäläinen, a DSc and a seasoned web developer. I developed my first
        website around 1996 although it has been lost to the history and I was
        not serious about web development back then. It was only in early 2000s
        that I started to become more serious about programming as I became
        involved with the [Blender](https://www.blender.org/) project for
        several years starting from 2005 as I contributed to the project by
        coding and improving documentation. I was one of the founders of
        [webpack](https://webpack.js.org/) core team and helped to establish the
        project to a broader public through [my webpack book](/books/webpack/).
        I have also authored numerous [open source](/open-source/) projects
        primarily for my own purposes, although several have become popular on
        their own as other people and companies have found my work useful.
      </Markdown>
      <Markdown as="p"
        >I established my own company in 2016 to support my publishing efforts.
        I use the company for occasional [consulting](/consulting/) while giving
        [workshops](/workshops) and [presentations](/presentations/) as
        opportunities arise. I have been organizing conferences primarily in
        Finland starting from 2018 as the first [React
        Finland](https://react-finland.fi/) conference took place then. Since
        that time, we have pivoted into a new brand called [Future
        Frontend](https://futurefrontend.com/) to allow discussion about
        future-oriented web topics beyond React.</Markdown
      >
      <Markdown as="p"
        >You can consider this site as my collection of web related knowledge.
        It is primarily a learning resource for beginner to intermediate
        developers although especially the research portions cover advanced,
        bleeding edge material. I am not overly active on social media, but you
        can find me in the following places:</Markdown
      >
      <ul>
        <li>
          <SiteLink href="https://github.com/bebraw"
            >Find me at GitHub</SiteLink
          >
        </li>
        <li>
          <SiteLink href="https://www.linkedin.com/in/juhovepsalainen/"
            >See my LinkedIn</SiteLink
          >
        </li>
        <li>
          <SiteLink href="https://www.slideshare.net/bebraw"
            >Check my Slideshare slides</SiteLink
          >
        </li>
        <li>
          <SiteLink href="https://x.com/bebraw"
            >Follow me on X (Twitter)</SiteLink
          >
        </li>
      </ul>
    </div>
  </slot>
</BaseLayout>
