<!doctype html>
<html &lang="(get context meta.language)">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/atom.xml"
      title="SurviveJS blog posts"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      __reference="https://web.dev/defer-non-critical-css/"
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/highlightjs/highlight.js@11.9.0/src/styles/github-dark.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        hrf="https://cdn.jsdelivr.net/gh/highlightjs/highlight.js@11.9.0/src/styles/github-dark.min.css"
    /></noscript>
    <MetaFields />
  </head>
  <body>
    <a href="#content" class="sr-only focus:not-sr-only p-4">
      Skip to content
    </a>
    <MainNavigation &aside="(get props aside)" />
    <aside
      &visibleIf="(get props aside)"
      class="fixed mt-16 pl-4 hidden xl:inline w-56 bg-white p-2 rounded-md"
      &children="(get props aside)"
    ></aside>
    <main
      id="content"
      class="p-2 md:py-4 scroll-mt-16"
      &children="(get props content)"
    ></main>
    <MainFooter />
    <Scripts />
  </body>
</html>
