<!doctype html>
<html &lang="(get context meta.language)">
  <head>
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      __reference="https://web.dev/defer-non-critical-css/"
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/highlightjs/highlight.js@11.3.1/src/styles/github-dark.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        hrf="https://cdn.jsdelivr.net/gh/highlightjs/highlight.js@11.3.1/src/styles/github-dark.min.css"
    /></noscript>
    <MetaFields />
  </head>
  <body>
    <MainNavigation />
    <aside
      class="fixed top-16 pl-4 hidden xl:inline"
      &children="(get props aside)"
    ></aside>
    <main
      &children="(get props content)"
      class="mb-8"
    ></main>
    <MainFooter />
    <Scripts />
  </body>
</html>
