<BaseLayout>
  <slot name="content">
    <div
      class="md:mx-auto px-4 md:px-0 w-full lg:max-w-3xl prose"
    >
      <Heading class="text-4xl" level="1"
        >Blog posts</Heading
      >
      <Markdown as="div"
        >The blog consists mainly of developer interviews.
        If you have a specific topic in mind, I recommend
        [checking out the topic index](./topics/).
      </Markdown>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-4 not-prose"
        &foreach="(get context blogPosts)"
      >
        <ProjectCard
          &description="(get props data.preview)"
        >
          <slot name="title">
            <SiteLink
              &href="(urlJoin blog (get props data.slug))"
              &children="(get props data.title)"
            ></SiteLink>
          </slot>
        </ProjectCard>
      </div>
    </div>
  </slot>
</BaseLayout>
