<BaseLayout>
  <slot name="content">
    <div class="md:mx-auto px-4 md:px-0 w-full lg:max-w-3xl prose">
      <Heading
        class="text-4xl"
        level="1"
        &children="(get context meta.data.title)"
      />
      <Markdown as="div" &children="(get context meta.data.description)" />
      <ol class="flex flex-col gap-2" &foreach="(get context chapters)">
        <li>
          <div class="flex flex-col gap-1">
            <SiteLink
              &href="(urlJoin (get props data.slug) /)"
              &children="(get props data.title)"
            />
            <span &children="(get props data.description)" />
          </div>
        </li>
      </ol>
    </div>
  </slot>
</BaseLayout>
