<BaseLayout>
  <slot name="content">
    <div
      class="md:mx-auto px-4 md:px-0 w-full md:max-w-3xl"
    >
      <div class="mx-auto md:mx-0 prose lg:prose-xl">
        <Heading
          level="1"
          &children="(get context document.data.title)"
        ></Heading>
        <div
          &children="(get context document.content)"
        ></div>
      </div>
      <div class="mx-auto md:mx-0 flex flex-col gap-4">
        <div
          class="flex flex-row gap-4 justify-between text-sm"
        >
          <div>
            Author:
            <SiteLink
              &children="(get context document.data.author.name)"
              &href="(get context document.data.author.twitter)"
            ></SiteLink>
          </div>
          <div
            &visibleIf="(get context document.data.date)"
          >
            Published:&nbsp;
            <span
              &children="(dateToString (get context document.data.date))"
            ></span>
          </div>
        </div>
        <div
          class="flex flex-row gap-4 justify-between text-sm"
          &visibleIf="(or (get context document.previous) (get context document.next))"
        >
          <div
            &visibleIf="(get context document.previous)"
            class="flex flex-col gap-2"
          >
            <div class="flex flex-row gap-2">
              <span>←</span><span>Previous post</span>
            </div>
            <div>
              <SiteLink
                &href="(concat ../ (get context document.previous.data.slug))"
                &children="(get context document.previous.data.title)"
              ></SiteLink>
            </div>
          </div>
          <div
            &visibleIf="(get context document.next)"
            class="flex flex-col gap-2"
          >
            <div class="flex flex-row gap-2 ml-auto">
              <span>Next post</span><span>→</span>
            </div>
            <div class="text-right">
              <SiteLink
                &href="(concat ../ (get context document.next.data.slug))"
                &children="(get context document.next.data.title)"
              ></SiteLink>
            </div>
          </div>
        </div>
        <div
          &visibleIf="(get context document.data.topics)"
        >
          <Heading level="2" class="text-lg"
            >Topics</Heading
          >
          <ul
            class="flex flex-row gap-4 text-sm whitespace-nowrap"
            &foreach="(get context document.data.topics)"
          >
            <li>
              <Card>
                <slot name="title">
                  <SiteLink
                    &children="(get props title)"
                    &href="(urlJoin / blog topics (get props slug) /)"
                  />
                </slot>
              </Card>
            </li>
          </ul>
        </div>
        <div>
          <Heading level="2" class="text-lg"
            >Comments</Heading
          >
          <Disqus />
        </div>
      </div>
    </div>
  </slot>
  <slot name="aside">
    <div
      class="flex flex-col gap-4 w-56 bg-white mt-8 p-2 rounded-md"
    >
      <Advertisement />
      <TableOfContents
        &toc="(get context document.tableOfContents)"
      />
    </div>
  </slot>
</BaseLayout>
