<BaseLayout>
  <slot name="content">
    <div class="md:mx-auto px-4 md:px-0 w-full lg:max-w-3xl prose">
      <Heading class="text-4xl" level="1">Katas</Heading>
      <Markdown as="div"
        >I run my workshops using a kata format. In other words, they form of
        series of smaller tasks that contain exercises to complete to encourage
        learning through doing. Often I complete my kata workshops with a brief
        introduction to the topic. Although it is fun to complete them in a
        workshop format, it is possible to go through them alone and I have
        listed my katas below.</Markdown
      >
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 not-prose">
        <Katas />
      </div>
    </div>
  </slot>
</BaseLayout>
