<BaseLayout>
  <slot name="content">
    <div class="md:mx-auto px-4 md:px-0 w-full lg:max-w-3xl prose">
      <Heading class="text-4xl" level="1">Open source</Heading>
      <Markdown as="p"
        >I have been working with open source since 2004 as I started
        contributing to [Blender](https://www.blender.org/). Later on I was a
        part of the group that established the core team of
        [webpack](https://webpack.js.org/). Besides working on well-known
        projects, I have developed numerous small projects of my own. Given
        there are too many to mention, I have highlighted several I consider
        interesting on this page. You can [find more behind my GitHub
        profile](https://github.com/bebraw).
      </Markdown>
      <section>
        <Heading class="text-2xl" level="2">Frameworks</Heading>
        <div class="flex flex-col gap-8 not-prose">
          <OpenSourceFrameworks />
        </div>
      </section>
      <section>
        <Heading class="text-2xl" level="2">Libraries</Heading>
        <div class="flex flex-col gap-8 not-prose">
          <OpenSourceLibraries />
        </div>
      </section>
    </div>
  </slot>
</BaseLayout>
