<BaseLayout>
  <slot name="content">
    <div class="md:mx-auto p-4 md:p-0 w-full lg:max-w-3xl prose">
      <Heading class="text-4xl" level="1">Research</Heading>
      <Markdown as="p"
        >For the completion of my PhD, I have produced several papers. You can
        [find all of the papers I have written at
        ORCID](https://orcid.org/0000-0003-0025-5540) and you can find a
        collection of few on this page in addition to other related
        works.</Markdown
      >
      <section>
        <HeadingWithAnchor level="2">Papers</HeadingWithAnchor>
        <Markdown as="p"
          >My research focuses mainly on static site generation, edge computing,
          islands architecture, and web architectures. You can get the best
          overview of my research outputs through
          [ORCID](https://orcid.org/0000-0003-0025-5540),
          [ResearchGate](https://www.researchgate.net/profile/Juho-Vepsaelaeinen),
          or [Google
          Scholar](https://scholar.google.com/citations?user=vf9Y1xQAAAAJ). I
          have listed several of my main papers below and you can find more from
          the aforementioned sources.</Markdown
        >
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 not-prose">
          <Research />
        </div>
      </section>
      <section>
        <HeadingWithAnchor level="2">Booklets</HeadingWithAnchor>
        <Markdown as="p"
          >As a part of coursework, I authored a short booklet under the title
          "Disappearing frameworks explained". [The booklet was published in
          2023 through arXiv.](https://arxiv.org/pdf/2309.03201)</Markdown
        >
      </section>
      <section>
        <HeadingWithAnchor level="2">Advisory work</HeadingWithAnchor>
        <Markdown as="p"
          >During my studies, I have worked as an advisor for several theses.
          You can find a selection below.</Markdown
        >
        <HeadingWithAnchor level="3">Masters</HeadingWithAnchor>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 not-prose">
          <ContentCard
            title="The potential of WebAssembly in Edge Computing (Antti Nousiainen, 2024, MSc)"
            websiteLabel="Read about WebAssembly in Edge Computing"
            website="https://www.researchgate.net/publication/386087411_The_potential_of_WebAssembly_in_Edge_Computing"
          >
            <slot name="content"
              >WebAssembly is a well-supported web technology that allows easy
              conversion of existing code as well as generation of new projects
              from a multitude of programming languages for the web, in a
              portable manner. Edge environments, meanwhile, provide a way to
              distribute workloads near the end user, and allow scaling of
              execution well. Furthermore, edge environments offer the
              possibility of decreased latency compared to more conventional
              cloud services. Combining these could improve the usability and
              suitability of edge computing in certain kinds of applications,
              such as data processing for Internet-of-Things (IoT) devices.
              Therefore, research into combining these technologies makes sense.
              The objective of this thesis was to study this intersection of
              WebAssembly and edge environments through examination of
              performance and usability. Performance was considered through
              creating a test environment and by benchmarking WebAssembly, while
              usability was considered by documenting in detail potential
              problems for developers and the ways how WebAssembly and edge
              environments can be used together. Overall, the thesis found that
              even though some roadblocks were encountered during the test
              environment development and performance was decreased in
              comparison to locally executed tests, existing C-based benchmarks
              could be converted to WebAssembly and be run in the selected edge
              environment with acceptable performance when compared to locally
              executed tests.</slot
            >
          </ContentCard>
          <ContentCard
            title="Impact of React component libraries on developer experience - An empirical study on component libraries' styling approaches (Ossian Rajala, 2024, MSc)"
            websiteLabel="Read about component libraries for React"
            website="https://www.researchgate.net/publication/383941317_Impact_of_React_component_libraries_on_developer_experience_-_An_empirical_study_on_component_libraries'_styling_approaches"
          >
            <slot name="content"
              >Over the past three decades, web design has transitioned from
              simple static pages to complex, interactive applications. Modern
              web development relies heavily on JavaScript frameworks and
              reusable components, often utilizing third-party, pre-styled
              component libraries. Customizing the styles - which are typically
              implemented with CSS (Cascading Style Sheets) - of such libraries
              to meet specific design requirements is a common task. This
              customization creates a need for effective styling solutions that
              enhance developer experience and maintainability. Despite its
              widespread use in web development, CSS remains under-researched,
              particularly in the context of how it affects developers'
              day-to-day work with component libraries. As technologies continue
              to evolve, understanding and improving the developer experience
              becomes increasingly crucial, as it can positively impact software
              development outcomes. This thesis seeks to understand how React
              component libraries' theming approaches impact customization,
              particularly ease of implementation, reusability of styles, and
              flexibility to accommodate various design requirements.
              Furthermore, the study investigates how the aforementioned factors
              and the library's documentation support or hinder the developer's
              work. These factors were investigated by porting the same
              application to four pre-styled component libraries. The
              implementation process, methods used, and challenges encountered
              were documented and analyzed. As a result, the study found that
              meeting the design requirements was possible with all compared
              libraries: Ant Design, Chakra UI, shadcn/ui, and Mantine. However,
              the ease, intuitiveness, and maintainability of required solutions
              varied. Especially as one of the libraries, Ant Design, was
              tightly coupled with a specific design system. Color customization
              and dark and light modes were frequent sources of confusion.
              Overall, the libraries offered a positive experience and allowed
              the desired design to be reached without resorting to style hacks.
              Still, all the libraries would benefit from improved
              documentation, namely more detailed examples and explanations of
              the customization options.</slot
            >
          </ContentCard>
          <ContentCard
            title="The Effects of Architectural Design Decisions on Framework Adoption: A Comparative Evaluation of Meta-Frameworks in Modern Web Development (Joel Hassan, 2024, MSc)"
            websiteLabel="Read about initial rendering performance"
            website="https://www.researchgate.net/publication/380342898_The_Effects_of_Architectural_Design_Decisions_on_Framework_Adoption_A_Comparative_Evaluation_of_Meta-Frameworks_in_Modern_Web_Development"
          >
            <slot name="content"
              >The rise of JavaScript meta-frameworks has transformed the
              development of web applications in recent years. Alongside
              established frameworks, such as Next.js, more recent entrants,
              such as Astro and Qwik City have introduced novel approaches
              centred on simplifying developer experience and improving the
              perceived performance of applications for users. The competitive
              nature of the meta-framework space and the long-term impact of
              framework choice on projects calls for an understanding of the
              factors that drive framework adoption. This research first
              delineates extensibility, ease of migration and updates as a set
              of adoption factors based on prior research and their relevance to
              modern meta- frameworks. The factors form a basis of evaluating
              three meta-frameworks—Next.js, Astro, and Qwik City—selected based
              on their popularity, design, and phase on the innovation curve. A
              developer survey is conducted to complement the analysis,
              gathering insights from developers on the value they associate
              with architectural aspects and their personal experiences with the
              selected frameworks. The findings substantiate previous research
              that identified learnability and extensibility as primary adoption
              drivers. The main risks driving unadoption involve complexity
              associated with a high degree of configurability and the perceived
              framework lock-in due to an abundance of framework-specific
              concepts. Despite shared authoring experiences across evaluated
              meta-frameworks, the analysis indicates that newer frameworks are
              showing potential to considerably enhance user and developer
              experiences by focusing on a simplified authoring experience,
              addressing issues related to the transmission of application logic
              from the server to the client and providing more fine-grained
              approaches to managing client-side JavaScript.</slot
            >
          </ContentCard>
          <ContentCard
            title="Improving the Initial Rendering Performance of React Applications Through Contemporary Rendering Approaches (Touko Lonka, 2023, MSc)"
            websiteLabel="Read about initial rendering performance"
            website="https://aaltodoc.aalto.fi/items/1d6ae644-a536-4607-b4e3-60c70b29f8e8"
          >
            <slot name="content"
              >Modern JavaScript frameworks have enabled the development of
              interactive and user-friendly web applications. Over the past
              decade, React has become the leading user interface framework in
              the JavaScript world, contributing to the rise of Single Page
              Applications (SPA). However, the extensive development of SPAs has
              led to an increase in the amount of client-side JavaScript, thus
              triggering performance issues in terms of initial loading
              times.<br />The speed at which a web application is initially
              rendered can significantly influence its potential for revenue
              generation, as the initial loading time often determines whether a
              user stays on or abandons a web page. Recognizing the integral
              role of the initial loading speed in user retention, this study
              delves into the realm of performance optimization strategies,
              focusing predominantly on the use of React-like UI frameworks and
              meta-frameworks as a means to improve the initial rendering
              performance of web applications. Through this exploration, we aim
              to provide a comprehensive understanding of contemporary rendering
              approaches and their role in enhancing web application
              performance.<br />To compare the performance impacts of various
              rendering approaches, we implement a React application simulating
              the dynamics of a real-world e-commerce platform and replicate the
              same application through multiple technologies. These technologies
              include the UI frameworks Preact, Qwik, and Solid, as well as the
              meta-frameworks Next, Astro, and Qwik City. Finally, we provide
              extensive benchmarks to measure the page weights and initial
              rendering performance of each application version.<br />Our
              findings demonstrate that the utilization of React-like UI
              frameworks and meta-frameworks can considerably decrease the
              amount of JavaScript downloaded by the client, contributing to
              improved initial rendering times. The most promising results are
              achieved by using meta-frameworks for extending the capabilities
              of UI frameworks with modern rendering strategies like Server-Side
              Rendering and Static Site Generation. However, these approaches
              often present significant trade-offs, such as increased Server
              Response Times and extended build durations.</slot
            >
          </ContentCard>
        </div>
        <HeadingWithAnchor level="3">Bachelors</HeadingWithAnchor>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 not-prose">
          <ContentCard
            title="Survey of Edge Databases for the Web (Arttu Pesonen, 2024, BSc)"
            websiteLabel="Read about edge databases"
            website="https://www.researchgate.net/publication/388001154_Survey_of_Edge_Databases_for_the_Web"
          >
            <slot name="content"
              >Database as a Service offerings have transformed the development
              of web applications, enabling almost limitless scalability of
              databases according to the capacity and performance requirements.
              With the growth of global user bases in web applications, the use
              of traditional database systems can lead to high latency, as the
              database is often located far from the end users. Edge databases
              aim to bring data processing closer to the end users, reducing
              latency and improving service performance. While cloud computing
              has enabled the deployment of traditional databases in regions
              with the highest concentrations of end users, it has not fully
              addressed the challenges of growing global user bases. This thesis
              examines edge databases and their use in the context of web
              applications through a literature review and by comparing
              different edge database service providers. This study seeks to
              identify the edge databases designed for web applications and
              explore their features and design approaches. The technical review
              found that all the compared edge database solutions are compatible
              with existing database technologies and models: CockroachDB is
              compatible with PostgreSQL, Redis Cloud with Redis, and Turso with
              SQLite. This compatibility simplifies the adoption of the
              services, as developers can use familiar tools and programming
              languages, and integrate the services directly into existing web
              applications. All three compared edge database services enable
              extensive scalability by leveraging the infrastructure of major
              cloud service providers for deployment. Edge databases are
              especially beneficial for web applications that require precise
              management of database locations, as this has a significant impact
              on the latency experienced by end users. By using edge databases,
              web applications can improve their usability and customer
              experience by reducing service latency.</slot
            >
          </ContentCard>
          <ContentCard
            title="Comparison of web performance optimization techniques -1990s vs. 2020s (Klaus Rehnberg, 2024, BSc)"
            websiteLabel="Read about web performance optimization"
            website="https://www.researchgate.net/publication/387485302_Comparison_of_web_performance_optimization_techniques_-1990s_vs_2020s"
          >
            <slot name="content"
              >The transition from web sites to web applications has led to
              numerous changes in web optimization methods. An understanding of
              the evolution of optimization methods is paramount for
              understanding why the current optimization methods are in use. In
              this thesis I compare web optimization methods used in the 1990s
              and methods used in modern web development. The methods I analyze
              in this thesis are limited to methods that have a measurable
              impact on user perceived latency, data throughput and resource
              usage of web servers. The literature survey made in this thesis
              shows that no previous works of this kind have been made from a
              high level overview. To keep itself on a high level, this thesis
              includes a multitude of sources covering multiple optimization
              methods. The results of the survey indicate that optimization
              methods have improved in multiple regards. Not only have existing
              methods improved, but new methods have been created to match the
              new requirements of web applications. Additionally, the focus of
              optimization methods has shifted from reducing the impact of low
              network bandwidth, to instead covering dynamic web data, which can
              be modified to suit a specific user, and the growing number of
              mobile devices, which have varying screen sizes and resolutions.
              Web servers have also moved from local servers to cloud and edge
              computing.</slot
            >
          </ContentCard>
          <ContentCard
            title="Survey of the current state of 3D production pipelines for the web (Lauri Lyytikäinen, 2024, BSc)"
            websiteLabel="Read about 3D production for the web"
            website="https://www.researchgate.net/publication/384687761_Survey_of_the_current_state_of_3D_production_pipelines_for_the_web"
          >
            <slot name="content"
              >This paper aims to find out what is the current state of 3D
              production for the web. The research focuses on examining the
              process of creating 3D content, optimising it, and integrating it
              into a final product. It contains an overview of the long and
              complicated process of creating content for web-based platforms.
              The review was conducted as the current research on the topic is
              limited or the available information is several years old. The
              sources used were scientific articles and books about the topic,
              programming library documentation and programming articles. The
              research presents the different steps and tools available for
              creating good quality and functional 3D content for web
              applications. The paper outlines how 3D data is created, edited,
              and exported and the different applications for it. How the
              different libraries, frameworks and tools can be used heavily
              depends on the final content’s specific purpose and use case,
              budget and target audience. The survey also explores the different
              criteria that the developers can use to select their libraries and
              pipelines, and when it might be better to create a custom
              implementation. The different applications of 3D content and their
              unique differences are also investigated. My main findings were
              that 3D content in web applications is growing in popularity, and
              new uses for it are discovered continuously. While 3D technology
              has been around for multiple decades, it still is relatively new
              on the web platform. It is being avoided because of a complicated
              development process, technical limitations and the lack of
              standardisation. Different libraries and programming languages
              have greatly evolved in recent years and the standards in the
              industry are still forming.</slot
            >
          </ContentCard>
          <ContentCard
            title="Understanding re-emergence of the RPC model in web development (Ruupert Koponen, 2024, BSc)"
            websiteLabel="Read about the RPC model"
            website="https://www.researchgate.net/publication/380547826_Understanding_re-emergence_of_the_RPC_model_in_web_development"
          >
            <slot name="content"
              >RPC is a request-response protocol from the 1980s, which allows
              developers to invoke remote functions from an application. It was
              originally used in distributed systems, but was also used in web
              development in the late 1990s and early 2000s. RPC's popularity
              began decreasing after the REST-style architecture appeared in the
              early 2000s. However, in the recent years, the RPC-model has
              re-emerged in web development. This bachelor's thesis focuses on
              understanding the recent growth in popularity of the RPC model. In
              addition, this work explores the impact of modern RPC frameworks
              on web development practices and offers comparison between REST,
              RPC and GraphQL. This thesis is a literature review that utilizes
              scientific articles, technological documentation and blog posts.
              This study found out that in the early 2000s, web development
              moved from RPC to REST architecture due to the low performance of
              RPC implementations at the time. The internet was growing rapidly,
              requiring scalable and high-performance web services, and REST
              answered to this demand. The 2010s saw new trends in web
              development, such as microservices and TypeScript. These trends
              led to the emergence of new RPC frameworks, such as gRPC and tRPC.
              These modern RPC frameworks leverage advancements in network
              protocols, serialization formats, and type systems to offer an
              alternative to the REST architectural style. gRPC is especially
              popular in microservices systems due to its high performance,
              whereas tRPC offers developers using TypeScript the ability to
              develop type-safe full-stack applications. The RPC model has also
              been integrated into the popular front-end framework React, which
              provides the ability to call server-side methods directly from
              client-side components. With the emergence of modern RPC
              frameworks, developers have more options in web service
              development tools. Developers have access to more specialized
              tools and can choose the one that best suits their needs. Although
              modern RPC implementations may not be as universally applicable as
              REST or GraphQL, they can offer significant benefits in certain
              types of applications. gRPC and tRPC streamline the development of
              web services by offering an improved developer experience.
              Additionally, they reduce the risk of errors through type
              safety.</slot
            >
          </ContentCard>
          <ContentCard
            title="Survey of Serverless Edge Computing for Web Applications (Mikael Siidorow, 2024, BSc)"
            websiteLabel="Read about serverless edge computing"
            website="https://www.researchgate.net/publication/380424331_Survey_of_Serverless_Edge_Computing_for_Web_Applications"
          >
            <slot name="content"
              >Cloud computing has revolutionized the way we build software with
              infrastructure and computing power available always on demand.
              Serverless computing has allowed developers to focus on
              applications instead of infrastructure management. However, large
              data center are often far away from the end users, which
              introduces latency. Edge computing attempts to bring computing
              closer to the users, to the edge. Edge computing is already widely
              used in Internet of Things and mobile devices, and there exists a
              large amount of research this area. Web applications already use
              edge technologies such as Content Delivery Networks, but edge
              computing for dynamic computation is not yet widely used. This
              thesis reviews edge computing for web applications and summarizes
              research and service providers as literature research. The aim of
              the study is to determine what are the benefits and limitations of
              serverless edge computing compared to serverless cloud computing
              for web application development. The technical review showed that
              edge computing service providers were split in two based on the
              internal runtime: AWS uses micro virtual machines, while
              Cloudflare and Deno use V8 isolates. V8 isolates start faster with
              less overhead, but their technologies are more limited and
              security is less obvious than virtual machines. Serverless edge
              and cloud computing are not mutually exclusive technologies. The
              benefits of edge computing come from both closer location and
              faster runtimes. Edge is suitable for latency-critical parts of
              the application and V8 isolates significantly reduce load times.
              When developing serverless applications, some computation should
              be moved to the edge. Many web applications could improve
              usability and user experience by moving computation to the edge,
              reducing latency.</slot
            >
          </ContentCard>
          <ContentCard
            title="Using Storybook.js for component-driven design system web development (Tuomas Nummela, 2024, BSc)"
            websiteLabel="Read about Storybook.js"
            website="https://www.researchgate.net/publication/380396572_Using_Storybookjs_for_component-driven_design_system_web_development"
          >
            <slot name="content"
              >Building web application user interfaces has become increasingly
              complex due to heightened expectations and requirements in
              interface customizability, visual appeal, performance, and
              accessibility. This has given birth to frontend tools like
              Storybook.js that help developers manage the development
              complexity through component isolation and test automation.
              Storybook is mainly used by developers to build and maintain
              design systems that can be used to construct UIs across
              applications regardless of the different application contexts.
              This thesis explores developer experiences with using Storybook to
              build and maintain design systems, identifying some benefits and
              drawbacks of the tool in the process. The developer experiences
              are inspected from the task viewpoints of
              designer-developer-handoff, component programming, and component
              testing. For each task, the Storybook way of approaching it is
              explained first. That is followed by a case study of using
              Storybook to help with that task in a software company. Finally,
              some observations are made from the experiences of using Storybook
              for that specific task. The final discussion presents and argues
              for four observations about Storybook. Firstly, Storybook offers
              approachable component workshopping. Secondly, Storybook doubles
              well as rich component documentation. Thirdly, there exist
              numerous add-ons to further leverage the use of Storybook.
              Finally, to fully leverage the capabilities of Storybook,
              developers must spend quite a lot of effort first configuring the
              tool and later creating and maintaining all of its content. The
              consensus of the developer experiences on building design systems
              using Storybook was positive.</slot
            >
          </ContentCard>
          <ContentCard
            title="Upcoming JavaScript web frameworks and their techniques (Juho Paakkanen, 2023, BSc)"
            websiteLabel="Read about upcoming JavaScript frameworks"
            website="https://www.researchgate.net/publication/376835044_Upcoming_JavaScript_web_frameworks_and_their_techniques"
          >
            <slot name="content"
              >The interactivity and size of web applications have continuously
              increased, resulting in the fact that user interface frameworks
              alone often no longer meet the requirements of modern
              applications. To solve this, one of the latest trends in web
              software development has been using server-side rendering to
              improve the user experience. However, this has made the developer
              experience more complex, as a separate meta-framework must be
              included to achieve desired server-side functionalities. This
              thesis explores current mainstream and upcoming JavaScript web
              frameworks and their techniques by studying front-end frameworks
              and meta-frameworks. The research question the thesis aims to
              answer is: ”What benefits does the latest generation of JavaScript
              web frameworks offer over mainstream ones?” The goal is to find
              the best techniques for future web software development by
              analyzing research and observing practical trends. This is carried
              out through a literature review and by presenting the
              implementations of the selected frameworks. The frameworks
              selected for examination are React, Next, Svelte, Qwik, Astro, and
              HTMX. Many benefits of using upcoming frameworks and novel
              techniques were found. Newer solutions offer smaller runtime
              sizes, more efficient rendering approaches, and often a better
              developer experience. These are achieved by techniques such as
              more extensive compiler use and adopting finely-grained reactivity
              with signals. Most of this progress is incremental, and the
              benefits are mostly relevant for specific use cases. However, Qwik
              uses a technique called resumability, which might fundamentally
              change the currently prevalent server-side rendering by
              eliminating the need for hydration. Lastly, it is important to
              recognize that artificial intelligence will most likely have a
              significant impact on the future of web development.</slot
            >
          </ContentCard>
          <ContentCard
            title="Private Key Vulnerabilities in Browser Wallets (Jaakko Pentinsaari, 2023, BSc)"
            websiteLabel="Read about private key vulnerabilities"
            website="https://www.researchgate.net/publication/377397278_Private_Key_Vulnerabilities_in_Browser_Wallets"
          >
            <slot name="content"
              >Blockchain technology and cryptocurrencies have gained
              significant attention both as a research topic as well as a
              platform for entertainment and finance services. The space has
              progressed from just currency to where it is now possible to also
              run a decentralized virtual machine that executes program code
              written on the blockchain. This decentralized virtual machine
              state allows developers to implement transactions and
              authentication that enable payment for services and proving
              ownership of digital assets. Implementing and using these
              technologies, however, has its own security concerns. One popular
              solution for users is a wallet that is conveniently stored in the
              browser and can easily interact with websites. This paper proposes
              how malicious extensions, screenshot attacks, keyloggers, XSS and
              malware could be used to steal private keys from the
              aforementioned browser wallets. It turns out that the secret
              recovery phrase protocol in popular browser wallet applications is
              particularly vulnerable and could be exploited with screenshots or
              keyloggers.</slot
            >
          </ContentCard>
        </div>
      </section>
    </div>
  </slot>
</BaseLayout>
