<BaseLayout>
  <slot name="content">
    <div class="md:mx-auto p-4 md:p-0 w-full lg:max-w-3xl prose">
      <Heading class="text-4xl" level="1">Research</Heading>
      <Markdown as="p"
        >For the completion of my PhD dissertation, I produced several papers
        and you can [find all of the papers I have written at
        ORCID](https://orcid.org/0000-0003-0025-5540). I have listed several on
        this page in addition to other works, including works of my students
        (MSc, BSc).</Markdown
      >
      <section>
        <HeadingWithAnchor level="2"
          >Dissertation – Emergence of hybrid rendering models in web
          application development (2025)
        </HeadingWithAnchor>
        <Markdown as="p"
          >Web is the largest application platform available globally as at
          least 60% of humanity has access to it [52]. The situation has been
          enabled by the almost ubiquitous nature of the internet and broad
          access to it. The popularity of the web platform comes with its
          challenges, as it was originally designed for static content and
          evolved to support application development.</Markdown
        ><Markdown as="p"
          >The continuous process of evolution has forced developers to evaluate
          their development practices from time to time. Simultaneously, the
          demands for the quality of web applications have increased and so has
          their size as their size has tripled over the past ten years [22]. The
          development contradicts the global trend of increased web usage
          through mobile devices, where bandwidth and computational power are
          limited by definition. Due to the prevailing trends of increasing
          application size and mobile usage, new, more effective ways to develop
          web applications are needed.</Markdown
        ><Markdown as="p"
          >This dissertation captures the current situation of web development
          while providing directions on how to address the industry's current
          pain points. The dissertation shows how web developers can apply niche
          techniques and technologies to improve their applications on all
          levels while delivering faster and better user experiences without
          forgetting developer experience.</Markdown
        ><Markdown as="p"
          >Examining so-called hybrid rendering techniques and edge computing, I
          show what web development might become in the years to come and
          propose solutions beyond what is available in the mainstream. The
          primary purpose of this dissertation is to explore the space between
          static and dynamic web development to open new venues for web
          developers through novel techniques and technologies without
          forgetting users.</Markdown
        >
        <div class="flex flex-col sm:flex-row gap-2">
          <Rounded>
            <SiteLink
              class="text-sm text-muted px-2"
              href="https://www.researchgate.net/publication/391900001_Emergence_of_hybrid_rendering_models_in_web_application_development"
              >Read the dissertation at ResearchGate</SiteLink
            >
          </Rounded>
          <Rounded>
            <SiteLink
              class="text-sm text-muted px-2"
              href="https://www.youtube.com/watch?v=6OXV_TxDjLs"
              >View the defense at YouTube</SiteLink
            >
          </Rounded>
        </div>
      </section>
      <section>
        <HeadingWithAnchor level="2">Papers</HeadingWithAnchor>
        <Markdown as="p"
          >My research focuses mainly on static site generation, edge computing,
          islands architecture, and web architectures. You can get the best
          overview of my research outputs through
          [ORCID](https://orcid.org/0000-0003-0025-5540),
          [ResearchGate](https://www.researchgate.net/profile/Juho-Vepsaelaeinen),
          or [Google
          Scholar](https://scholar.google.com/citations?user=vf9Y1xQAAAAJ). I
          have listed several of my main papers below and you can find more from
          the aforementioned sources.</Markdown
        >
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 not-prose">
          <Research />
        </div>
      </section>
      <section>
        <HeadingWithAnchor level="2">Booklets</HeadingWithAnchor>
        <Markdown as="p"
          >As a part of coursework, I authored a short booklet under the title
          "Disappearing frameworks explained". [The booklet was published in
          2023 through arXiv.](https://arxiv.org/pdf/2309.03201)</Markdown
        >
      </section>
      <section>
        <HeadingWithAnchor level="2">Lectures</HeadingWithAnchor>
        <Markdown as="p"
          >I give a yearly lecture titled "Web application development - The
          past, the present, the future". You can [find the 2024 slides of the
          lecture
          here](https://www.researchgate.net/publication/384102326_Web_application_development_-_The_past_the_present_the_future_2024_version).</Markdown
        >
      </section>
      <section>
        <HeadingWithAnchor level="2">Advisory work</HeadingWithAnchor>
        <Markdown as="p"
          >During my studies, I have worked as an advisor for several theses.
          You can find a selection below.</Markdown
        >
        <HeadingWithAnchor level="3">Masters</HeadingWithAnchor>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 not-prose">
          <Masters />
        </div>
        <HeadingWithAnchor level="3">Bachelors</HeadingWithAnchor>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 not-prose">
          <Bachelors />
        </div>
      </section>
      <section>
        <HeadingWithAnchor level="2">BSc/MSc themes</HeadingWithAnchor>
        <Markdown as="p"
          >I have listed various BSc/MSc themes below. The idea is that you can
          pick a specific research question within a theme as this allows
          multiple students to research the same theme. Typically I accept 4-5
          BSc students per semester (Spring, Summer, Fall) at Aalto University
          (a couple of MSc students per year). Usually the works are authored in
          English, although Finnish is an option.</Markdown
        >
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 not-prose">
          <ResearchTopics />
        </div>
      </section>
    </div>
  </slot>
</BaseLayout>
