<BaseLayout>
  <slot name="content">
    <div
      class="md:mx-auto px-4 md:px-0 w-full md:max-w-3xl flex flex-col gap-8"
    >
      <div class="prose max-w-ch80">
        <div class="flex flex-row gap-4 not-prose">
          <Heading class="text-4xl font-extrabold" level="1">SurviveJS</Heading>
          <span class="text-2xl content-end text-muted"
            >From an apprentice to a master of JavaScript</span
          >
        </div>

        <Markdown as="p"
          >Welcome to survivejs.com. I (Juho Vepsäläinen) have gathered material
          related to JavaScript since 2016. You can consider this site as a
          learning resource at different levels where I have gathered my
          learnings about the topic. Given JavaScript is a broad subject, I have
          divided the site as follows:
        </Markdown>
        <ul>
          <li>
            <SiteLink href="/books/"
              >In the books section you can find my larger writings about
              JavaScript.</SiteLink
            >
            Currently maintenance,
            <SiteLink href="https://react.dev/">React</SiteLink>, and
            <SiteLink href="https://webpack.js.org/">webpack</SiteLink> (most up
            to date book) are covered.
          </li>
          <li>
            <SiteLink href="/blog/"
              >The blog contains numerous of developer interviews (200+) and
              shorter posts about JavaScript.</SiteLink
            >
          </li>
          <li>
            <SiteLink href="/research/"
              >In the academic research section you can find my papers about the
              topics.</SiteLink
            >
            I have taken care to include enough background material in my papers
            to keep them accessible so it is not as dry as you might think.
          </li>
          <li>
            <SiteLink href="/workshops/"
              >I have gathered material related to my recent workshops at the
              workshops section of the site.</SiteLink
            >
            Currently <SiteLink href="https://qwik.dev/">Qwik</SiteLink>,
            <SiteLink href="https://deno.com/">Deno</SiteLink>, and
            <SiteLink
              href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API"
              >Web Audio</SiteLink
            >
            are covered.
          </li>
        </ul>
        <Markdown as="div"
          >Most of the content is freely available although you can support my
          efforts by buying [books](/books/) or considering some form of
          [consulting](/consulting/). I work mainly around TypeScript, tooling,
          and web performance these days. Through my research efforts I have had
          to delve into the latest rendering techniques and upcoming themes like
          edge computing.
        </Markdown>
        <Markdown as="div"
          >This site has been built using [Gustwind](https://gustwind.js.org/),
          my personal framework that is close to HTML with an API familiar to
          users of React. You could consider the site itself as a learning
          resource as I have built it using Tailwind syntax and you can
          copy/paste from the source easily although my custom components have
          been removed from the output although [you can find the custom
          components at
          GitHub](https://github.com/survivejs/website-v3).</Markdown
        >
      </div>
    </div>
    <div
      class="md:mx-auto px-4 md:px-0 w-full md:max-w-3xl flex flex-col gap-8"
    >
      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-4">
          <Heading class="text-2xl" level="2">Books</Heading>
          <div class="grid xl:grid-cols-3 gap-8">
            <Books />
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <Heading class="text-2xl" level="2">Latest blog posts</Heading>
          <BlogPosts
            class="grid xl:grid-cols-3 gap-8"
            &blogPosts="(get context blogPosts)"
            linkPrefix="/blog/"
          />
        </div>
        <div class="flex flex-col gap-4">
          <Heading class="text-2xl" level="2">Workshops</Heading>
          <div class="grid xl:grid-cols-3 gap-8">
            <Workshops />
          </div>
        </div>
      </div>
    </div>
  </slot>
</BaseLayout>
