<div &class="(get props class)" &foreach="(get props blogPosts)">
  <Card &content="(get props data.preview)">
    <slot name="header">
      <Heading
        level="3"
        class="font-medium"
        &children="(get props data.title)"
        showAnchor
      />
    </slot>
    <slot name="footer">
      <div class="flex flex-row justify-between">
        <SiteLink
          class="text-sm text-muted"
          &href="(urlJoin (get props linkPrefix) (get props data.slug) /)"
          >Read the post</SiteLink
        >
        <div class="text-xs text-muted">
          Published:&nbsp;<span
            &children="(dateToString (get props data.date))"
          ></span>
        </div>
      </div>
    </slot>
  </Card>
</div>
