<div &class="(get props class)" &foreach="(get props blogPosts)">
  <Card &content="(get props data.preview)">
    <slot name="header">
      <Heading level="3" class="font-medium" showAnchor
        ><SiteLink
          &children="(get props data.title)"
          &href="(urlJoin (get props linkPrefix) (get props data.slug) /)"
      /></Heading>
    </slot>
    <slot name="footer">
      <div class="flex flex-row justify-between">
        <div class="text-xs text-muted flex flex-row gap-1 self-center">
          <span>Published:</span>
          <FormattedTime &date="(get props data.date)" />
        </div>
      </div>
    </slot>
  </Card>
</div>
