<ContentCard
  title="SurviveJS – Webpack 5"
  websiteLabel="Read the book"
  website="/books/webpack/"
>
  <slot name="content"
    >In this book, I go through main features of
    [webpack](https://webpack.js.org/), a module bundler for JavaScript, and
    show how to compose your own configuration effectively. It doubles as a
    reference for common webpack techniques and I have included discussion
    considering alternatives. The book matches the current version of
    webpack.</slot
  >
</ContentCard>
<ContentCard
  title="SurviveJS – Maintenance"
  websiteLabel="Read the book"
  website="/books/maintenance/"
>
  <slot name="content"
    >In this book co-authored with [Artem Sapegin](https://sapegin.me/), I
    explore how to maintain and publish your JavaScript projects. Originally it
    was split off from the webpack book. The book is largely complete although I
    want to give it modernization pass to catch up with the latest developments
    in the space.</slot
  >
  <slot name="footer">TODO</slot>
</ContentCard>
<ContentCard
  title="SurviveJS – React"
  websiteLabel="Read the book"
  website="/books/react/"
>
  <slot name="content"
    >React book is where it all started and the webpack book was split up from
    this. The book is not up to date although it may be interesting to follow
    the book project while building it using some other technology or the latest
    React APIs. In other words the book could use an update and it is maintained
    on the site for historical purposes for now.</slot
  >
</ContentCard>
