<div class="border p-2 flex flex-col gap-2">
  <Heading
    class="text-2xl"
    level="2"
    &children="(get props title)"
  />
  <Markdown
    &visibleIf="(get props description)"
    &children="(get props description)"
  />
  <ul
    class="flex flex-row gap-2"
    &visibleIf="(or (get props website) (get props github))"
  >
    <li &visibleIf="(get props website)">
      <SiteLink &href="(get props website)"
        >Website</SiteLink
      >
    </li>
    <li &visibleIf="(get props github)">
      <SiteLink &href="(get props github)">GitHub</SiteLink>
    </li>
  </ul>
</div>
