<Card>
  <slot name="header">
    <Heading
      level="3"
      class="font-medium"
      &children="(get props title)"
      showAnchor
  /></slot>
  <slot name="content">
    <div x-state="{ showMore: false }" class="flex flex-col gap-2">
      <div
        hidden
        x-cloak
        x-attr
        &@class="(concat
          '[state.showMore ? `` :`'
          (tw line-clamp-6)
          '`]')"
      >
        <Markdown &children="(get props content)" />
      </div>
      <div hidden x-cloak>
        <Rounded>
          <button
            onclick="setState(({ showMore }) => ({ showMore: !showMore }))"
            class="font-extralight text-sm"
            type="button"
            x="state.showMore ? 'Show less' : 'Show more'"
          >
            Show more
          </button>
        </Rounded>
      </div>
    </div>
  </slot>
  <slot name="footer">
    <SiteLink
      class="text-sm text-muted"
      &href="(get props website)"
      &children="(get props websiteLabel 'Website')"
    />
  </slot>
</Card>
