<Card>
  <slot name="header">
    <Heading level="3" class="font-medium" showAnchor>
      <SiteLink
        &visibleIf="(get props website)"
        &children="(get props title)"
        &href="(get props website)"
      />
      <span
        &visibleIf="(not (get props website))"
        &children="(get props title)"
      /> </Heading
  ></slot>
  <slot name="content">
    <div class="max-h-96 overflow-auto">
      <Markdown &children="(get props content)" />
    </div>
  </slot>
  <slot name="footer">
    <div class="flex flex-col gap-2">
      <Rounded &visibleIf="(get props website)">
        <SiteLink
          class="text-sm text-muted px-2"
          &href="(get props website)"
          &children="(get props websiteLabel 'Website')"
        />
      </Rounded>
      <Rounded &visibleIf="(get props seeAlso)">
        <SiteLink
          class="text-sm text-muted px-2"
          &href="(get props seeAlso)"
          &children="(get props seeAlsoLabel 'See also')"
        />
      </Rounded>
    </div>
  </slot>
</Card>
