<Card>
  <slot name="header">
    <Heading level="3" class="font-medium" showAnchor>
      <SiteLink
        &children="(get props title)"
        &href="(get props website)"
      /> </Heading
  ></slot>
  <slot name="content">
    <div class="max-h-96 overflow-auto">
      <Markdown &children="(get props content)" />
    </div>
  </slot>
  <slot name="footer">
    <SiteLink
      class="text-sm text-muted"
      &href="(get props website)"
      &children="(get props websiteLabel 'Website')"
    />
  </slot>
</Card>
