<footer
  class="py-8 font-light border-t-2 border-primary bg-secondary"
>
  <div class="flex flex-col container mx-auto gap-4">
    <section
      class="md:mx-auto px-4 sm:px-0 flex flex-row w-full md:max-w-3xl gap-8"
    >
      <div class="flex flex-col basis-1/6">
        <h2>Navigation</h2>
        <div class="flex flex-col gap-2 font-thin text-sm">
          <Navigation />
        </div>
      </div>
      <div class="flex flex-col basis-1/6">
        <h2>Books</h2>
        <div class="flex flex-col gap-2 font-thin text-sm">
          <SiteLink href="/books/webpack/"
            >Survivejs – Webpack 5</SiteLink
          >
          <SiteLink href="/books/maintenance/"
            >Survivejs – Maintenance</SiteLink
          >
          <SiteLink href="/books/react/"
            >Survivejs – React</SiteLink
          >
        </div>
      </div>
      <div class="flex flex-col basis-1/6">
        <h2>Conferences</h2>
        <div class="flex flex-col gap-2 font-thin text-sm">
          <SiteLink href="https://futurefrontend.com/"
            >Future Frontend</SiteLink
          >
          <SiteLink href="https://react-finland.fi/"
            >React Finland</SiteLink
          >
        </div>
      </div>
      <div class="flex flex-col basis-1/6">
        <h2>Social</h2>
        <div class="flex flex-col gap-2 font-thin text-sm">
          <SiteLink
            href="https://buttondown.email/SurviveJS"
            >Mailing list</SiteLink
          >
          <SiteLink href="https://twitter.com/survivejs/"
            >@survivejs</SiteLink
          >
          <SiteLink href="https://github.com/survivejs/"
            >GitHub</SiteLink
          >
          <SiteLink href="https://goo.gl/forms/OWdGIOdHm9"
            >Contact</SiteLink
          >
          <SiteLink href="atom.xml">RSS</SiteLink>
        </div>
      </div>
      <div class="flex flex-col basis-2/6">
        <h2>About</h2>
        <Markdown as="div" class="font-thin text-sm"
          >SurviveJS is maintained by [Juho
          Vepsäläinen](https://github.com/bebraw).
        </Markdown>
      </div>
    </section>
  </div>
</footer>
