<footer class="p-8 font-light border-t-2 border-primary bg-secondary">
  <div class="flex flex-col container mx-auto gap-8">
    <section
      class="md:mx-auto p-4 sm:p-0 grid grid-cols-2 sm:grid-cols-4 w-full md:max-w-3xl gap-8 text-lg"
    >
      <div class="flex flex-col gap-2">
        <Heading level="2" class="font-medium">Books</Heading>
        <div class="flex flex-col gap-4 md:gap-2 md:text-sm">
          <SiteLink href="/books/webpack/">Survivejs – Webpack 5</SiteLink>
          <SiteLink href="/books/maintenance/"
            >Survivejs – Maintenance</SiteLink
          >
          <SiteLink href="/books/react/">Survivejs – React</SiteLink>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <Heading level="2" class="font-medium">Conferences</Heading>
        <div class="flex flex-col gap-4 md:gap-2 md:text-sm">
          <SiteLink href="https://futurefrontend.com/"
            >Future Frontend</SiteLink
          >
          <SiteLink href="https://react-finland.fi/">React Finland</SiteLink>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <Heading level="2" class="font-medium">Feeling social?</Heading>
        <div class="flex flex-col gap-4 md:gap-2 md:text-sm">
          <SocialLinks />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <Heading level="2" class="font-medium">About</Heading>
        <div class="flex flex-col gap-4 md:gap-2">
          <Markdown as="div" class="md:text-sm"
            >SurviveJS is maintained by [Juho
            Vepsäläinen](https://github.com/bebraw).
          </Markdown>
          <Markdown as="div" class="md:text-sm"
            >You can [find the site source at
            GitHub](https://github.com/survivejs/website-v3).
          </Markdown>
        </div>
      </div>
    </section>
  </div>
</footer>
