<ContentCard
  title="Artificial Intelligence for Web Development: Perspectives from Industry and Literature (Pyry Pohjalainen, 2025, MSc)"
  websiteLabel="Read about AI in web development"
  website="https://aaltodoc.aalto.fi/server/api/core/bitstreams/526ca978-aed6-4019-8627-047f669b1e65/content"
>
  <slot name="content"
    >The integration of generative AI is transforming industries, enhancing
    efficiency and user experience, while introducing new opportunities and
    challenges to web development. The AI era-defining release of ChatGPT has
    cemented AI tools in the toolkits of people working in web development, as
    previously labor intensive tasks such as programming and debugging could
    possibly be outsourced to the AI – this, however, has brought up new issues
    of when the utilization of AI is useful, which tasks should the developer
    complete without AI, and what effects can be found from the utilization of
    AI for tasks previously seen as out of reach for machines. Given this, the
    objective of this study is to clarify the effect the utilization of AI has
    had on web development using the sequential qualitative-quantitative design
    method with interviews and a survey to validate and expand upon the findings
    from the interviews. This study finds that AI is used by people working in
    web development to increase efficiency and for the ease of use it provides,
    with multiple minor downsides, such as AI not being able to understand
    complex logic, everything created by an AI needing to be validated by the
    user and AI suggesting code which could potentially cause a security issue.
    This means there are clear benefits to continued development of AI tools for
    web development and an increased role of AI proficiency for people working
    in web development, with the user knowing when to utilize AI to receive the
    optimal results, with open questions and possibilities of future research
    being directed towards code quality of AI tools.</slot
  >
</ContentCard>
<ContentCard
  title="FlagShip: Reimagining Stateful Serverless Architectures at the Edge (Anoop Bidikar, 2024, MSc)"
  websiteLabel="Read about serverless architectures"
  website="https://www.diva-portal.org/smash/record.jsf?pid=diva2%3A1950543&dswid=-1117"
  seeAlsoLabel="See also Anoop's blog post about the topic"
  seeAlso="https://djoker.dev/posts/building-feature-flag-application/"
>
  <slot name="content"
    >Feature flag systems enable dynamic control of application features without
    code redeployment, playing a crucial role in modern software development.
    While edge computing and serverless architectures offer promising solutions
    for low-latency applications, integrating stateful services into these
    environments presents significant challenges. This research investigates how
    stateful services in commercial edge computing platforms influence the
    feasibility and performance of stateful serverless applications, through the
    implementation and evaluation of a feature flag management system. We
    developed FlagShip, an edge-based feature flag management system utilizing
    stateful serverless functions and storage services from a commercial edge
    platform provider. Through extensive evaluation, we compared FlagShip’s
    performance against traditional cloud-hosted feature flag services,
    analyzing metrics such as client-side and server-side latency across
    different deployment configurations. Our results demonstrate that FlagShip
    achieved up to 70% reduction in client-side latency and 93% decrease in
    server-side latency compared to baseline implementations. Notably, a cached
    cloud-hosted variant outperformed all implementations, including edge
    deployments, challenging conventional assumptions about edge computing’s
    performance advantages. These findings provide valuable insights into the
    practical implications of building stateful edge applications, highlighting
    the critical role of storage and caching solutions that operate within the
    same runtime environment.</slot
  >
</ContentCard>
<ContentCard
  title="The potential of WebAssembly in Edge Computing (Antti Nousiainen, 2024, MSc)"
  websiteLabel="Read about WebAssembly in Edge Computing"
  website="https://www.researchgate.net/publication/386087411_The_potential_of_WebAssembly_in_Edge_Computing"
>
  <slot name="content"
    >WebAssembly is a well-supported web technology that allows easy conversion
    of existing code as well as generation of new projects from a multitude of
    programming languages for the web, in a portable manner. Edge environments,
    meanwhile, provide a way to distribute workloads near the end user, and
    allow scaling of execution well. Furthermore, edge environments offer the
    possibility of decreased latency compared to more conventional cloud
    services. Combining these could improve the usability and suitability of
    edge computing in certain kinds of applications, such as data processing for
    Internet-of-Things (IoT) devices. Therefore, research into combining these
    technologies makes sense. The objective of this thesis was to study this
    intersection of WebAssembly and edge environments through examination of
    performance and usability. Performance was considered through creating a
    test environment and by benchmarking WebAssembly, while usability was
    considered by documenting in detail potential problems for developers and
    the ways how WebAssembly and edge environments can be used together.
    Overall, the thesis found that even though some roadblocks were encountered
    during the test environment development and performance was decreased in
    comparison to locally executed tests, existing C-based benchmarks could be
    converted to WebAssembly and be run in the selected edge environment with
    acceptable performance when compared to locally executed tests.</slot
  >
</ContentCard>
<ContentCard
  title="Impact of React component libraries on developer experience - An empirical study on component libraries' styling approaches (Ossian Rajala, 2024, MSc)"
  websiteLabel="Read about component libraries for React"
  website="https://www.researchgate.net/publication/383941317_Impact_of_React_component_libraries_on_developer_experience_-_An_empirical_study_on_component_libraries'_styling_approaches"
>
  <slot name="content"
    >Over the past three decades, web design has transitioned from simple static
    pages to complex, interactive applications. Modern web development relies
    heavily on JavaScript frameworks and reusable components, often utilizing
    third-party, pre-styled component libraries. Customizing the styles - which
    are typically implemented with CSS (Cascading Style Sheets) - of such
    libraries to meet specific design requirements is a common task. This
    customization creates a need for effective styling solutions that enhance
    developer experience and maintainability. Despite its widespread use in web
    development, CSS remains under-researched, particularly in the context of
    how it affects developers' day-to-day work with component libraries. As
    technologies continue to evolve, understanding and improving the developer
    experience becomes increasingly crucial, as it can positively impact
    software development outcomes. This thesis seeks to understand how React
    component libraries' theming approaches impact customization, particularly
    ease of implementation, reusability of styles, and flexibility to
    accommodate various design requirements. Furthermore, the study investigates
    how the aforementioned factors and the library's documentation support or
    hinder the developer's work. These factors were investigated by porting the
    same application to four pre-styled component libraries. The implementation
    process, methods used, and challenges encountered were documented and
    analyzed. As a result, the study found that meeting the design requirements
    was possible with all compared libraries: Ant Design, Chakra UI, shadcn/ui,
    and Mantine. However, the ease, intuitiveness, and maintainability of
    required solutions varied. Especially as one of the libraries, Ant Design,
    was tightly coupled with a specific design system. Color customization and
    dark and light modes were frequent sources of confusion. Overall, the
    libraries offered a positive experience and allowed the desired design to be
    reached without resorting to style hacks. Still, all the libraries would
    benefit from improved documentation, namely more detailed examples and
    explanations of the customization options.</slot
  >
</ContentCard>
<ContentCard
  title="The Effects of Architectural Design Decisions on Framework Adoption: A Comparative Evaluation of Meta-Frameworks in Modern Web Development (Joel Hassan, 2024, MSc)"
  websiteLabel="Read about framework adoption"
  website="https://www.researchgate.net/publication/380342898_The_Effects_of_Architectural_Design_Decisions_on_Framework_Adoption_A_Comparative_Evaluation_of_Meta-Frameworks_in_Modern_Web_Development"
>
  <slot name="content"
    >The rise of JavaScript meta-frameworks has transformed the development of
    web applications in recent years. Alongside established frameworks, such as
    Next.js, more recent entrants, such as Astro and Qwik City have introduced
    novel approaches centred on simplifying developer experience and improving
    the perceived performance of applications for users. The competitive nature
    of the meta-framework space and the long-term impact of framework choice on
    projects calls for an understanding of the factors that drive framework
    adoption. This research first delineates extensibility, ease of migration
    and updates as a set of adoption factors based on prior research and their
    relevance to modern meta- frameworks. The factors form a basis of evaluating
    three meta-frameworks—Next.js, Astro, and Qwik City—selected based on their
    popularity, design, and phase on the innovation curve. A developer survey is
    conducted to complement the analysis, gathering insights from developers on
    the value they associate with architectural aspects and their personal
    experiences with the selected frameworks. The findings substantiate previous
    research that identified learnability and extensibility as primary adoption
    drivers. The main risks driving unadoption involve complexity associated
    with a high degree of configurability and the perceived framework lock-in
    due to an abundance of framework-specific concepts. Despite shared authoring
    experiences across evaluated meta-frameworks, the analysis indicates that
    newer frameworks are showing potential to considerably enhance user and
    developer experiences by focusing on a simplified authoring experience,
    addressing issues related to the transmission of application logic from the
    server to the client and providing more fine-grained approaches to managing
    client-side JavaScript.</slot
  >
</ContentCard>
<ContentCard
  title="Improving the Initial Rendering Performance of React Applications Through Contemporary Rendering Approaches (Touko Lonka, 2023, MSc)"
  websiteLabel="Read about initial rendering performance"
  website="https://aaltodoc.aalto.fi/items/1d6ae644-a536-4607-b4e3-60c70b29f8e8"
>
  <slot name="content"
    >Modern JavaScript frameworks have enabled the development of interactive
    and user-friendly web applications. Over the past decade, React has become
    the leading user interface framework in the JavaScript world, contributing
    to the rise of Single Page Applications (SPA). However, the extensive
    development of SPAs has led to an increase in the amount of client-side
    JavaScript, thus triggering performance issues in terms of initial loading
    times.<br />The speed at which a web application is initially rendered can
    significantly influence its potential for revenue generation, as the initial
    loading time often determines whether a user stays on or abandons a web
    page. Recognizing the integral role of the initial loading speed in user
    retention, this study delves into the realm of performance optimization
    strategies, focusing predominantly on the use of React-like UI frameworks
    and meta-frameworks as a means to improve the initial rendering performance
    of web applications. Through this exploration, we aim to provide a
    comprehensive understanding of contemporary rendering approaches and their
    role in enhancing web application performance.<br />To compare the
    performance impacts of various rendering approaches, we implement a React
    application simulating the dynamics of a real-world e-commerce platform and
    replicate the same application through multiple technologies. These
    technologies include the UI frameworks Preact, Qwik, and Solid, as well as
    the meta-frameworks Next, Astro, and Qwik City. Finally, we provide
    extensive benchmarks to measure the page weights and initial rendering
    performance of each application version.<br />Our findings demonstrate that
    the utilization of React-like UI frameworks and meta-frameworks can
    considerably decrease the amount of JavaScript downloaded by the client,
    contributing to improved initial rendering times. The most promising results
    are achieved by using meta-frameworks for extending the capabilities of UI
    frameworks with modern rendering strategies like Server-Side Rendering and
    Static Site Generation. However, these approaches often present significant
    trade-offs, such as increased Server Response Times and extended build
    durations.</slot
  >
</ContentCard>
