<SiteLink &class="(get props class)" href="/">Home</SiteLink>
<SiteLink &class="(get props class)" href="/books/">Books</SiteLink>
<SiteLink &class="(get props class)" href="/blog/">Blog</SiteLink>
<SiteLink &class="(get props class)" href="/research/">Research</SiteLink>
<SiteLink &class="(get props class)" href="/workshops/">Workshops</SiteLink>
<SiteLink &class="(get props class)" href="/presentations/"
  >Presentations</SiteLink
>
<SiteLink &class="(get props class)" href="/open-source/">Open source</SiteLink>
<SiteLink &class="(get props class)" href="/consulting/">Consulting</SiteLink>
