<ContentCard
  title="Sidewind (2019)"
  websiteLabel="See the project website"
  website="https://sidewind.js.org/"
>
  <slot name="content"
    >After getting exposed to [Tailwind](https://tailwindcss.com/), I started
    thinking it would be a good idea to do the same but for state. Sidewind was
    born out of this experiment and it includes a small (~5k) runtime for
    managing state. As a unique feature, it implements the basic idea of
    resumability. In other words, it is able to construct its state from the
    initial HTML markup. It is possible I'll rewrite the project as a compiler
    one day.</slot
  >
</ContentCard>
<ContentCard
  title="webpack-merge (2015)"
  websiteLabel="See the project website"
  website="https://github.com/survivejs/webpack-merge"
>
  <slot name="content"
    >As I was writing my [webpack book](/books/webpack/), I realized it is
    difficult to explain how to construct webpack configurations in a simple
    way. To allow composition, I wrote webpack-merge. I consider the project
    feature complete and I am thankful to Google for supporting my efforts with
    a one-time $3000 grant from their infrastructure fund.</slot
  >
</ContentCard>
<ContentCard
  title="Colorjoe (2012)"
  websiteLabel="See the project website"
  website="https://bebraw.github.io/colorjoe/"
>
  <slot name="content"
    >The development of colorjoe color picker was motivated by a need to find a
    light picker that doesn't rely on static images. The solution was to use CSS
    to generate gradients and let the browser compose them. Although the project
    is old, it is still somehow relevant even today.</slot
  >
</ContentCard>
