<ContentCard
  title="Web application development - The past, the present, the future (2025)"
  websiteLabel="See web application development slides"
  website="https://www.researchgate.net/publication/395572589_Web_application_development_-_The_past_the_present_the_future_2025_version"
>
  <slot name="content"
    >In this lecture, I take a look at the history of web application
    development to understand where we are coming, what's the current state, and
    where we are heading. By understanding the past constraints, also current
    struggles and the need for new solutions makes sense.</slot
  >
</ContentCard>
<ContentCard
  title="Emergence of hybrid rendering models in web application development (2025)"
  websiteLabel="See my doctoral slides"
  website="https://www.researchgate.net/publication/394792182_Emergence_of_hybrid_rendering_models_in_web_application_development"
>
  <slot name="content"
    >In this doctoral lecture, I go through the main points related to my
    thesis.</slot
  >
</ContentCard>
<ContentCard
  title="ECMAScript - From an idea to a major standard (2023)"
  websiteLabel="See ECMAScript slides"
  website="https://www.slideshare.net/slideshow/ecmascript-from-an-idea-to-a-major-standard/258704081"
>
  <slot name="content"
    >In this brief presentation held at EURAS2023, I discuss how ECMAScript
    became a major standard having concrete impact on our daily lives.</slot
  >
</ContentCard>
<ContentCard
  title="Quick introduction to Qwik (2023)"
  websiteLabel="See Qwik slides"
  website="https://www.slideshare.net/bebraw/quick-introduction-to-qwik"
>
  <slot name="content"
    >In this presentation, I give a quick introduction to Qwik, an upcoming full
    stack JavaScript framework.</slot
  >
</ContentCard>
<ContentCard
  title="JavaScript frameworks of tomorrow (2023)"
  websiteLabel="See JavaScript slides"
  website="https://www.slideshare.net/bebraw/fooconf-javascript-frameworks-of-tomorrow"
>
  <slot name="content"
    >Expect to learn a lot about the direction of the frontend.</slot
  >
</ContentCard>
<ContentCard
  title="The future is mostly static (2022)"
  websiteLabel="See future related slides"
  website="https://www.slideshare.net/bebraw/the-future-is-mostly-static-253901205"
>
  <slot name="content"
    >In this brief presentation, I go through the main trends of web development
    in 2022 and share my views on where we are going.</slot
  >
</ContentCard>
