<div class="border p-2 flex flex-col gap-2">
  <Heading
    class="text-2xl"
    level="2"
    &children="(get props title)"
  />
  <Markdown &children="(get props description)" />
  <ul class="flex flex-row gap-2">
    <li>
      <SiteLink
        &visibleIf="(get props website)"
        &href="(get props website)"
        >Website</SiteLink
      >
    </li>
    <li>
      <SiteLink
        &visibleIf="(get props github)"
        &href="(get props github)"
        >GitHub</SiteLink
      >
    </li>
  </ul>
</div>
