<ContentCard title="Frameworkless web application development">
  <slot name="content"
    >Typically web developers use a web framework for developing their
    applications. Your task would be to figure out what is the state of
    frameworkless web application development and understand how far you could
    go by relying on the platform and a few well selected libraries.</slot
  >
</ContentCard>
<ContentCard title="State of no-/low-code development for web applications">
  <slot name="content"
    >Solutions like [Nordcraft](https://nordcraft.com/) promise a new way to
    develop web applications with a minimal amount of coding effort. Your task
    is to investigate several solutions like this and then come up with a view
    of the functionality and challenges of the existing tools. You can bring
    your own point of view to the topic.</slot
  >
</ContentCard>
<ContentCard
  title="Impact of the latest accessibility legislation for web development"
>
  <slot name="content"
    >Accessibility legislation for web applications mandated by the EU came into
    force. Your task is to figure out the potential impact of the new
    legislation while understanding the current state of accessibility within
    the industry. It is possible to scope the topic to be more survey-style
    although it could grow into a MSc thesis topic later on.</slot
  >
</ContentCard>
<ContentCard title="Complexity of modern web applications (MSc)">
  <slot name="content"
    >Modern web applications are surprisingly complex. Your task would be to
    perform complexity and dependency analysis based on existing web
    applications (maybe open sources ones) to understand how complex they
    exactly are. If there is time, you could implement a subset using lighter
    techniques as a comparison point.</slot
  >
</ContentCard>
