<ContentCard title="The rise of agentic web">
  <slot name="content"
    >Although people use websites typically directly, it might not be so in the
    future as so-called agentic web is challenging earlier assumptions about how
    the web should be used. Your task is to find a unique viewpoint on the topic
    and examine this shift in detail. [See this paper about agentic web for
    reference](https://arxiv.org/abs/2507.21206).</slot
  >
</ContentCard>
<ContentCard title="Frameworkless web application development">
  <slot name="content"
    >Typically web developers use a web framework for developing their
    applications. Your task would be to figure out what is the state of
    frameworkless web application development and understand how far you could
    go by relying on the platform and a few well selected libraries.</slot
  >
</ContentCard>
<ContentCard title="State of no-/low-code development for web applications">
  <slot name="content"
    >Solutions like [Nordcraft](https://nordcraft.com/) promise a new way to
    develop web applications with a minimal amount of coding effort. Your task
    is to investigate several solutions like this and then come up with a view
    of the functionality and challenges of the existing tools. You can bring
    your own point of view to the topic.</slot
  >
</ContentCard>
<ContentCard
  title="Impact of the latest accessibility legislation for web development"
>
  <slot name="content"
    >Accessibility legislation for web applications mandated by the EU came into
    force. Your task is to figure out the potential impact of the new
    legislation while understanding the current state of accessibility within
    the industry. It is possible to scope the topic to be more survey-style
    although it could grow into a MSc thesis topic later on.</slot
  >
</ContentCard>
<ContentCard title="WebAssembly and its standardization process (taken)">
  <slot name="content"
    >WebAssembly is a technology that has potential to change web development.
    In this survey, your task would be to figure out its current status and look
    specifically into its standardization process relative to other web
    technologies (ECMAScript etc.).</slot
  >
</ContentCard>
<ContentCard title="Impact of MCP for the web">
  <slot name="content"
    >Model Context Protocol (MCP) and agents might change the way we use the
    web. In this survey, your task would be to figure out what these
    technologies are about and speculate about their potential based on
    available information. [See also Anil Dash's post about the
    topic](https://www.anildash.com/2025/05/20/mcp-web20-20/).</slot
  >
</ContentCard>
