<ContentCard
  title="The Case for HTML First Web Development (2026, preprint)"
  websiteLabel="Read about HTML First"
  website="https://www.researchgate.net/publication/400970960_The_Case_for_HTML_First_Web_Development"
>
  <slot name="content"
    >Since its introduction in the early 90s, the web has become the largest
    application platform available globally. HyperText Markup Language (HTML)
    has been an essential part of the web since the beginning, as it allows
    defining webpages in a tree-like manner, including semantics and content.
    Although the web was never meant to be an application platform, it evolved
    as such, especially since the early 2000s, as web application frameworks
    became available. While the emergence of frameworks made it easier than
    ever to develop complex applications, it also put HTML on the back burner.
    As web standards caught up, especially with milestones such as HTML5, the
    gap between the web platform and frameworks was reduced. HTML First
    development emphasizes this shift and puts focus on literally using HTML
    first when possible, while encouraging minimalism familiar from the early
    days of the web. It seems HTML-oriented web development can provide clear
    benefits to developers, especially when it is combined with complementary
    approaches, such as embracing hypermedia and moving a large part of
    application logic to the server side. In the context of the htmx project,
    it was observed that moving towards HTML can reduce the size of a codebase
    greatly while leading to maintenance and development benefits due to the
    increased conceptual simplicity. Holotype-based comparisons for
    content-oriented websites show performance benefits, and the same
    observation was confirmed by a small case study where the Yle website was
    converted to follow HTML First principles. In short, the HTML First
    approach seems to have clear advantages for web developers, while there
    are open questions related to the magnitude of the benefits and the
    alignment with the recent trend of AI-driven web development.</slot
  >
</ContentCard>
<ContentCard
  title="Revisiting Hypermedia, The Forgotten Web Application Development Paradigm (2026, preprint)"
  websiteLabel="Read about hypermedia"
  website="https://www.researchgate.net/publication/400667895_Revisiting_Hypermedia_The_Forgotten_Web_Application_Development_Paradigm"
>
  <slot name="content"
    >World Wide Web, or just the web, is the largest application platform of our
    time, although it was never designed as such, but has evolved as one. This
    evolution resulted in development practices allowing the creation of complex
    web applications with little effort. Unfortunately, this evolutionary nature
    of the web led to a state where the size of web applications keeps growing
    steadily. For this reason, new approaches are needed, and in this article, I
    will revisit an old paradigm-hypermedia. Hypermedia was introduced to web
    developers by Fielding in his doctoral thesis in the early 2000s as the form
    of a hypermedia constraint (HATEOAS) for REST APIs, but unfortunately, this
    specific part of his work went overlooked until recently. Lately,
    hypermedia-oriented frameworks have begun to challenge the status quo by
    reintroducing hypermedia to the web through different strategies. Based on
    my findings, it seems plausible that the time is right for broader adoption
    of hypermedia for the web, as its ideas are timely since they address recent
    challenges related to the rising complexity of web applications and their
    agentic usage while allowing personalized user interfaces. It also seems
    there may be tangible benefits in terms of maintainability, conceptual
    simplicity, performance, and security over mainstream approaches. This
    article provides an initial indication of the usefulness of this old yet new
    paradigm for web development and highlights hypermedia-driven web
    development as an option to mainstream approaches.</slot
  >
</ContentCard>
<ContentCard
  title="Artificial intelligence for web development: Perspectives from the industry (2026)"
  websiteLabel="Read about the usage of AI in web development"
  website="https://www.researchgate.net/publication/400580916_Artificial_intelligence_for_web_development_Perspectives_from_the_industry"
>
  <slot name="content"
    >As a field, web development is roughly 30 years old, and during this
    period, it has been transformed several times already as it has moved from
    static websites to dynamic web applications. Now, with the introduction of
    Artificial Intelligence (AI), the field is again at the cusp of a
    transformation as the latest AI tools might change how to develop for the
    web yet again. The objective of this study is to look into this phenomenon
    and understand how AI is changing web development. To achieve this task, we
    chose to use the sequential qualitative–quantitative design method that
    combines interviews with a survey to validate and expand our findings from
    the interviews. We found that AI is used by web developers to increase their
    development efficiency, as even the current tools are easy to use and
    access, although they come with several minor downsides, including AI not
    being able to understand complex logic, the need for validation of AI
    output, and suggested code that could potentially lead to security issues.
    While there are clear benefits to using AI tools for web development and AI
    proficiency is a vital skill for web developers, there are still open
    questions related to the quality of code produced by AI tools.</slot
  >
</ContentCard>
<ContentCard
  title="Artificial intelligence for computer science education - hype or help? (2026, preprint)"
  websiteLabel="Read about the usage of AI for CSEd"
  website="https://www.researchgate.net/publication/400516716_Artificial_intelligence_for_computer_science_education_-_hype_or_help"
>
  <slot name="content"
    >Since its launch in late 2022, ChatGPT has ignited widespread interest in
    Large Language Models (LLMs) and broader Artificial Intelligence (AI)
    solutions. As this new wave of AI permeates various sectors of society, we
    are continually uncovering both the potential and the limitations of
    existing AI tools. The need for adjustment is particularly significant in
    Computer Science Education (CSEd), as LLMs have evolved into core cod- ing
    tools themselves, blurring the line between programming aids and intelligent
    systems, and reinforcing CSEd's role as a nexus of technology and pedagogy.
    Our findings indicate that there are both AI-positive and AI-critical views.
    AI-positive views see AI as having the potential to enhance teaching and
    learning, as they believe associated challenges related to the adoption of
    AI may be addressed. AI-critical views focus on the risks associated with
    adoption, therefore encourage keeping potential adoption of AI in CSEd
    grounded. Both educators and students see risks and benefits related to the
    adoption of AI in CSEd. One of the common concerns in academic integrity is
    amplified by easy access to powerful tools. For educators, the introduction
    poses a challenge due to the increased workload related to the adoption and
    limitations of the current tools. For institutions to gain value out of AI
    in CSEd, it has to be considered how to introduce it across the curriculum
    in a mindful manner, as there seem to be gaps in the way AI has been adopted
    so far. Recent advancements represent a paradigm shift, transforming not
    only the content we teach but also the methods by which teaching and
    learning take place. Rather than placing the burden of adapting to AI
    technologies on students, educational institutions must take a proactive
    role in verifying, integrating, and applying new pedagogical approaches.
    Such efforts can help ensure that both educators and learners are equipped
    with the skills needed to navigate the evolving educational landscape shaped
    by these technological innovations.</slot
  >
</ContentCard>
<ContentCard
  title="Challenges related to approximating the energy consumption of a website (2025)"
  websiteLabel="Read about website energy consumption"
  website="https://www.researchgate.net/publication/394368055_Challenges_related_to_approximating_the_energy_consumption_of_a_website"
>
  <slot name="content"
    >Based on a rough estimate, the ICT industry consumes 7 to 10% of the
    world’s energy, and around 70% of this is related to usage while the rest
    can be considered embodied due to manufacturing, logistics, and related
    activities. Simultaneously, the web has become an important channel for
    consuming ICT services as it is the largest available application platform
    globally. Especially energy consumption of mobile web applications has been
    studied in detail, but there is a clear research gap for web applications
    because suitable measurement tooling has not been available earlier.The
    purpose of this article is to review the current state of the art and
    understand how to approximate the energy consumption of web applications
    effectively by measuring an existing website that has been implemented with
    two different web frameworks—Qwik and Next.js. Our main findings indicate
    that although services that approximate energy consumption of web
    applications exist, they tend to overestimate consumption when compared to
    our measurements and they may even show contradictory results between
    different web frameworks. Further, we found that Firefox Profiler can be
    used to measure energy consumption with high precision. We also found that
    Website Carbon service fails to acknowledge techniques, such as lazy
    rendering, and there were open questions related to hosting detection (green
    or not) while the service was not transparent in calculating the results—not
    disclosing intermediary results or exposing the scope of the calculation.
    Our key recommendation is to use CPU-based measurement methods in estimating
    web energy consumption.</slot
  >
</ContentCard>
<ContentCard
  title="The Potential of Serverless Edge-powered Islands for Web Development (2025)"
  websiteLabel="Read about edge-powered islands"
  website="https://www.researchgate.net/publication/389710018_The_Potential_of_Serverless_Edge-powered_Islands_for_Web_Development"
>
  <slot name="content"
    >Web developers face two significant challenges when developing their
    applications and websites: latency and payload size. Given that web services
    rely on servers, the related communication incurs a cost in terms of
    latency. In contrast, the payload passed to the client incurs a
    communication cost, not to mention the computational cost to the client. The
    concept of serverless edge computing, built on top of content delivery
    networks (CDNs), is an approach that has begun to gain the attention of web
    developers for its promise of lower latencies due to its efficiencies in
    communication thanks to globally distributed networks and replication.
    Islands architecture is a technical approach that addresses payload size by
    giving developers easy ways to defer and potentially even avoid the cost of
    loading content. Combined, these two approaches form edge-powered islands
    and, in this article, we examine how the combination can help to address
    these two notable costs web developers have to consider in their daily work.
    Our findings indicate that edge-powered islands can provide a way to
    introduce interactivity to otherwise static websites while wrapping dynamic
    portions of a page within islands to gain the benefits of static approaches
    in more dynamic contexts, such as storefronts. In addition, islands can
    provide loading benefits even for more application-like websites, such as
    social networks, and give web developers an additional control layer in
    their development work.</slot
  >
</ContentCard>
<ContentCard
  title="Overview of Web Application Performance Optimization Techniques (2025)"
  websiteLabel="Read about web performance"
  website="https://www.researchgate.net/publication/386876899_Overview_of_Web_Application_Performance_Optimization_Techniques"
>
  <slot name="content"
    >During its thirty years of existence, the World Wide Web has helped to
    transform the world and create digital economies. Although it started as a
    global information exchange, it has become the most significant available
    application platform on top of its initial target. One of the side effects
    of this evolution was perhaps suboptimal ways to deliver content over the
    web, leading to wasted resources and business through lost conversions.
    Technically speaking, there are many ways to improve the performance of web
    applications. In this article, we examine the currently available options
    and the latest trends related to improving web application
    performance.</slot
  >
</ContentCard>
<ContentCard
  title="Resumability — A New Primitive for Developing Web Applications (2023)"
  websiteLabel="Read about resumability"
  website="https://www.researchgate.net/publication/377351753_Resumability_-_a_New_Primitive_for_Developing_Web_Applications"
>
  <slot name="content"
    >Hydration is a common technique employed by current JavaScript-based
    frontend frameworks, such as React. In hydration, the application code is
    re-executed on the client to recover component boundaries, application
    state, and event listeners. In this article, we look into a new primitive
    called resumability that avoids thework as the necessary information is
    serialized into HTML. The idea has been adopted by Asta (2023), Google Wiz,
    Marko (planned for version 6 [1]), Sidewind (since 2022), and Qwik (2021) as
    a main building block. Resumability gives these solutions unique advantages
    by avoiding the cost of hydration. Furthermore, resumability can allow
    developers to leverage code-splitting out of the box, depending on the
    implementation. The shift has implications for both developer and user
    experience. This article aims to understand why resumability matters and why
    it is a good option for replacing earlier hydration-based approaches. We
    also consider challenges related to adopting resumability on a framework
    level and briefly highlight the first resumable solutions for developing web
    applications.</slot
  >
</ContentCard>
<ContentCard
  title="ECMAScript - The journey of a programming language from an idea to a standard (2023)"
  websiteLabel="Read about ECMAScript"
  website="https://www.researchgate.net/publication/370469740_ECMAScript_-_The_journey_of_a_programming_language_from_an_idea_to_a_standard"
>
  <slot name="content"
    >A significant portion of the web is powered by ECMAScript. As a web
    technology, it is ubiquitous and available on most platforms natively or
    through a web browser. ECMAScript is the dominant language of the web, but
    at the same time, it was not designed as such. The story of ECMAScript is a
    story of the impact of standardization on the popularity of technology.
    Simultaneously, the story shows how external pressures can shape a
    programming language and how politics can mar the evolution of a standard.
    In this article, we will go through the movements that led to the dominant
    position of ECMAScript, evaluate the factors leading to it, and consider its
    evolution using the Futures Triangle framework and the theory of standards
    wars.</slot
  >
</ContentCard>
<ContentCard
  title="The Rise of Disappearing Frameworks in Web Development (2023)"
  websiteLabel="Read about disappearing frameworks"
  website="https://www.researchgate.net/publication/371617502_The_Rise_of_Disappearing_Frameworks_in_Web_Development"
>
  <slot name="content"
    >The evolution of the web can be characterized as an emergence of frameworks
    paving the way from static websites to dynamic web applications. As the
    scope of web applications has grown, new technical challenges have emerged,
    leading to the need for new solutions. The latest of these developments is
    the rise of so-called disappearing web frameworks that question the axioms
    of earlier generations of web frameworks, providing benefits of the early
    web and simple static sites.</slot
  >
</ContentCard>
<ContentCard
  title="The State of Disappearing Frameworks in 2023 (2023)"
  websiteLabel="Read about disappearing frameworks"
  website="https://www.researchgate.net/publication/373822413_The_State_of_Disappearing_Frameworks_in_2023"
>
  <slot name="content"
    >Disappearing frameworks represent a new type of thinking for web
    development. In the current mainstream JavaScript frameworks, the focus has
    been on developer experience at the cost of user experience. Disappearing
    frameworks shift the focus by aiming to deliver as little, even zero,
    JavaScript to the client. In this paper, we look at the options available in
    the ecosystem in mid-2023 and characterize them in terms of functionality
    and features to provide a state-of-the-art view of the trend. We found that
    the frameworks rely heavily on compilers, often support progressive
    enhancement, and most of the time support static output. While solutions
    like Astro are UI library agnostic, others, such as Marko, are more
    opinionated.</slot
  >
</ContentCard>
<ContentCard
  title="Implications of Edge Computing for Static Site Generation (2023)"
  websiteLabel="Read about edge computing and SSG"
  website="https://www.researchgate.net/publication/375814983_Implications_of_Edge_Computing_for_Static_Site_Generation"
>
  <slot name="content"
    >Static site generation (SSG) is a common technique in the web development
    space to create performant websites that are easy to host. Numerous SSG
    tools exist, and the approach has been complemented by newer approaches,
    such as Jamstack, that extend its usability. Edge computing represents a new
    option to extend the usefulness of SSG further by allowing the creation of
    dynamic sites on top of a static backdrop, providing dynamic resources close
    to the user. In this paper, we explore the impact of the recent developments
    in the edge computing space and consider its implications for SSG.
  </slot>
</ContentCard>
