<SiteLink href="https://buttondown.email/SurviveJS"
  >Subscribe to the mailing list</SiteLink
>
<SiteLink href="https://twitter.com/survivejs/"
  >Follow @survivejs on X</SiteLink
>
<SiteLink href="https://bsky.app/profile/survivejs.bsky.social/"
  >Follow @survivejs on Bluesky</SiteLink
>
<SiteLink href="https://github.com/survivejs/"
  >Follow project on GitHub</SiteLink
>
<SiteLink href="https://goo.gl/forms/OWdGIOdHm9">Contact me</SiteLink>
<SiteLink href="/atom.xml">Subscribe to RSS</SiteLink>
