<nav
  x-label="parent"
  x-state="{ closest: {} }"
  x-closest="{ state: { closest: document.querySelectorAll('main h2, h3') } }"
>
  <ul
    &foreach="(get props toc)"
    class="flex flex-col gap-2"
  >
    <li>
      <a
        x-attr
        &@class="(concat
          '[element.textContent === parent.closest.textContent && `'
          (tw underline)
          '`, state.tagName === `H3` && `'
          (tw ml-2)
          '`]')"
        &href="(concat # (get props slug))"
        &children="(get props text)"
      ></a>
    </li>
  </ul>
</nav>
