<nav
  x-label="parent"
  x-state="{ closest: {} }"
  x-closest="{ state: { closest: document.querySelectorAll('main h2') } }"
>
  <ul
    &foreach="(get props toc)"
    class="flex flex-col gap-2"
  >
    <li>
      <a
        x-attr
        &@class="(concat
          '[element.firstChild?.textContent === parent.closest?.firstChild?.textContent && `'
          (tw underline)
          '`]')"
        &href="(concat # (get props slug))"
        &children="(get props raw)"
      ></a>
    </li>
  </ul>
</nav>
