<Card>
  <slot name="header">
    <Heading level="3" class="font-medium" showAnchor>
      <SiteLink
        &visibleIf="(get props website)"
        &children="(get props title)"
        &href="(get props website)"
      />
      <span
        &visibleIf="(not (get props website))"
        &children="(get props title)"
      /> </Heading
  ></slot>
  <slot name="content">
    <div
      class="max-h-96 overflow-auto before:text-muted before:content-['\201D'] before:text-2xl after:text-muted after:content-['\201D'] after:text-2xl after:float-right"
    >
      <Markdown &children="(get props content)" />
    </div>
  </slot>
</Card>
