<ContentCard
  title="Qwik katas (2023)"
  websiteLabel="Follow the katas at GitHub"
  website="https://github.com/survivejs/qwik-katas"
>
  <slot name="content"
    >[Qwik](https://qwik.dev/) is a recent web framework that approaches web
    application from a different angle by eschewing the concept of hydration and
    replacing it with resumability. This means it provides unique benefits, such
    as automatic code-splitting, out of the box making it an interesting
    alternative for web developers that want to develop performant websites and
    applications out of the box.</slot
  >
</ContentCard>
<ContentCard
  title="Deno katas (2023)"
  websiteLabel="Follow the katas at GitHub"
  website="https://github.com/survivejs/deno-katas"
>
  <slot name="content"
    >[Deno](https://deno.com/) is the followup project of Ryan Dahl, the
    original author of [Node.js](https://nodejs.org/). In Deno, Ryan wanted to
    fix his perceived mistakes of Node.js and Deno could be characterized as a
    whole toolbox that comes with solutions for common server-side programming
    problems particularly in terms of tooling.</slot
  >
</ContentCard>
<ContentCard
  title="Web Audio katas (2023)"
  websiteLabel="Follow the katas at GitHub"
  website="https://github.com/survivejs/audio-katas"
>
  <slot name="content"
    >[Web Audio](https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API)
    is a powerful, yet underestimated, web API that allows you to build complex
    audio-based web application. In this kata, you will build a small Digital
    Audio Workstation (DAW) while getting acquainted with the relevant APIs and
    some of the history behind digital audio.</slot
  >
</ContentCard>
